@import "../../styles/colors";
@import "../../styles/variables";

.arrow-button {
  position: absolute;
  background: none;
  width: 74px;
  height: 41px;
  border: 1px solid $green2;
  border-radius: 16px;
  left: 24px;
  margin-bottom: 5px;

  &--next {
    right: 24px;
    left: unset;
  }

  &__icon {
    color: white;
    margin-top: 3px;

    &--back {
      transform: rotate(180deg);
    }
  }

  &--hidden {
    visibility: hidden;
  }
}

@media (min-width:900px){
  .arrow-button{
    position: absolute;
    bottom: 4;
  }
}
