@import "../../styles/colors";
@import "../../styles/variables";

.subtitle {
  font: $titleFont;
  font-size: 16px;
  color: white;
  margin-top: 50px;
  font-weight: 200;
  text-align: center;

  &--left{
    text-align: left;
    margin-left: 24px;
    margin-bottom: 50px;
  }

  b{
    font-weight: 800;
  }
}
