.inputs{
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 100%;
}

@media all and (min-width: 350px){
    .arrow-button{
      position: absolute;
      bottom: 5%;
    }
    .step-bar{
        position: absolute;
        bottom: 10%;
    }
  }