.schedules{

    .subtitle{
        margin-top: 10%;
    }

    .button{
        width: 90px;
        margin: 30px 10px 0px 10px;
        padding: auto; 
    }

    .step-bar{  
        margin-top: 50%;
    }
}