@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;0,700;1,400&display=swap');
@import "./styles/colors";

body {
  background: $background;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
