@import "../../styles/colors";
@import "../../styles/variables";

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  
   label {
    text-align: left;
    display: block;
    color: $green2;
  }
   &--text {
    background: none;
    width: 100%;
    height: 40px;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid $green2;
    border-radius: 16px;
    box-sizing: border-box;
    display: block;
  }

  &--textarea{
    background: none;
    width: 100%;
    height: 100px;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid $green2;
    border-radius: 16px;
    box-sizing: border-box;
    display: block;
  }
}